:root
{
    --custom-color: #FFFFFF;
    --custom-color-darker: #FFFFFF;
    --custom-color-light: #FFFFFF;
    --custom-color-rgb: 255, 255 , 255;  
    --custom-color-light-rgb: 0, 0 ,0;
    --custom-text-color: #000000;
}

.accordion
{
    --bs-accordion-btn-focus-border-color: var(--custom-color-light);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--custom-color-light);
    --bs-accordion-active-bg: var(--custom-color-light);
    --bs-accordion-active-color: var(--custom-color-darker);
}

.btn-primary {
    --bs-btn-bg: #553986;
    --bs-btn-border-color: #553986;
    --bs-btn-hover-bg: #553986;
    --bs-btn-hover-border-color: #553986;
    --bs-btn-active-bg: #8f70b1;
    --bs-btn-active-border-color: #8f70b1;
    --bs-btn-disabled-bg: var(--bs-success-rgb);
    --bs-btn-disabled-border-color: var(--bs-success-rgb);
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--custom-color-rgb),var(--bs-bg-opacity))!important;
}

.form-check-input:checked {
    background-color: var(--custom-color);
    border-color: var(--custom-color);
}

.form-control:focus, 
.form-check-input:focus {
    border-color: rgba(var(--custom-color-light-rgb), 0.8);
    box-shadow: 0 0 0 4px rgba(var(--custom-color-light-rgb), 0.6);
}
.text-primary {
    color : #8f70b1!important;
}

/* footer {
    color: var(--custom-text-color);
} */

/* #registerButton {
    background-color: #553986!important;
}
.btn {
    background-color: #553986!important;
} */
