
       body{
        background-color:#FFFFFF;
        font-family: sans-serif;
        font-weight: 300;
       }



       .cardProfile{

        width: 380px;
        border: none;
        border-radius: 15px;
        padding: 8px;
        background-color: #808080;
        position: relative;
        height: 370px;
       }

       .upper{

        height: 100px;

       }

       .upper img{

        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

       }

       .user{
        position: relative;
       }

       .profile img{

        
        height: 80px;
        width: 80px;
        margin-top:2px;

       
       }

       .profile{

        position: absolute;
        top:-50px;
        left: 38%;
        height: 90px;
        width: 90px;
        border:3px solid #fff;

        border-radius: 50%;

       }

       .stats span{

        font-size: 29px;
       }